html, body, .grid-container {
  height: 100%;
  margin: 0;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 232px auto;
  grid-template-rows: 60px auto 90px;
  gap: 0px 0px;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main"
    "playbar playbar";
  }

.sidebar {
  grid-area: sidebar;
  background: black;
}

.logo {
  padding-top:24px;
  padding-left: 24px;
  height: 40px;
  width:132px;
}

.options-section {
  padding: 18px 8px 8px 8px;
}

.options * {
  padding-left: 16px;
}

.options  {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

.options2 {
  margin-top: 24px;
  padding-left:16px;
  color: white;
}

.searchCont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 300px;
  margin-left: 10px;
  border-radius: 500px;
  background: whitesmoke;
}

.searchBar{
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
}

.navbar {
  grid-area: navbar;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-btn-container{
  display: flex;
}

.profile{
float: right;
background-color: black;
border-radius: 23px;
height: 32px;
min-width: 32px;
align-items: center;
justify-content: center;
display: flex;
border: none;
color: white;
padding: 2px;
transition: 0.25s ease-in-out;
}

.logout {
  display: none;
}
.profile:hover .hide-onhover{
  display: none;
}
.profile:hover .logout {
  display: block;
}
.main {
  grid-area: main;
  background: gray;
  overflow-x: hidden;
}

.main {
scrollbar-width: thin;
scrollbar-color: gray;
}
.main::-webkit-scrollbar {
width: 6px;
}
.main:-webkit-scrollbar-track {
background: transparent;
}
.main:-webkit-scrollbar-thumb {

background-color: gray;
border-radius: 6px;
border: 3px solid transparent;
} 

.underline-on-hover:hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer;
  }
.cardContainer{
  height: 290px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: auto;
}

.albumcover {
  margin: 20px;
  width: 180px;
  height: 180px;
  background: black;
  border-radius: 4px;
}
.albumimg{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  pointer-events: none;
}

.albumplay{
  width: 40px;
  margin-right: 8px;
  float: right;
  opacity: 0;
  transition: .5s ease;
  margin-top: -46px;
  cursor: pointer;
}

.albumplay img{
  object-fit: contain;
  width: 100%;
  pointer-events: none;
}
.albumplay img:hover {
  transform: scale(1.05);
}

.albumtitle {
  color: white;
  margin-left: 20px;
  line-height: 16px;
}

.bond-to-two-lines{
overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 180px;
}

.playbar {
  grid-area: playbar;
  background: black;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.current-playing {
  flex: 0.4;
  display: flex;
  align-items: center;
}

.current-playing img {
  height: 56px;
  width: 56px;
}

.cur-info {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.cur-title {
  color: white;
  font-weight: 500;
}

.cur-author {
  font-weight: 500;
}

.playback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column
}
.playOptions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.range-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.play-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ytbPlayerCont {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

.ytbPlayer {
  width: 100%;
  height: auto;
}

.like-icon > img{
  width: 20px;
  margin-left: 50px;
}

@media (max-width: 800px) {
.sidebar {
  display: none;
}
.grid-container {
display: grid;
grid-template-columns: 0 auto;
grid-template-rows: 60px auto 90px;
gap: 0px 0px;
grid-template-areas:
  "sidebar navbar"
  "sidebar main"
  "playbar playbar";
}
.albumplay img {
  transform: scale(1.05);
}
.card .albumplay{
  opacity: 1;
  transform: translateY(-4px);
}
.searchCont{
width: 200px;
}
.searchBar{
width: 200px;
margin-left: 30px;
}
.searchBarIcon{
position: absolute;
height: 20px;
}
.delete {
  visibility: visible;

}
.bond-to-two-lines{
max-width: 60px;
}
}

.nav_home_img:hover{
content: url(https://img.icons8.com/fluent-systems-regular/24/000000/home.png) left top no-repeat;
}

@-moz-document url-prefix() {
  .range-slider__range {
      overflow:visible;
  }
}
